:root{
    font-family:sans-serif;
    
}
.logo {
    font-size: 30px;
    text-decoration: none;
    color: black;

}
.logo span{
    font-family: 'Gill Sans', 'Gill Sans MT';
    color: black;
    text-shadow: 0.1px 0.1px ; 
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    transform: scale(1.05);
    transition-duration: 100ms;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.2);
    
}

.navitems ,.loginsignup{
    width: auto;
    display: flex;
    flex-direction: row;
    list-style: none;   
}

.navitems ,.loginsignup li , a{
    margin: 20px;
}

.button{
    width: fit-content;
    border: solid 1px rgb(52, 133, 255);;
    border-radius: 30px;
    background: rgb(52, 133, 255);;
    color: azure;
    padding: 10px 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.getstarted span{
    color: rgb(52, 133, 255);

}

.hero .button{
    align-self: center;
}


